/* ModalDelete.css */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
  }
  
  .modal-buttons .delete, .cancel {
    margin: 5px;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
  }

  .delete {
    background-color: #d34c42;
    color: white;
  }

  .modal-buttons button:hover {
    background-color: #dadada;
  }
  